.container{
    margin: 20px 8%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}
.headeTitle2{
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    color: rgb(104, 104, 104);
    margin:20px 8%;
}

.view-card{
    width: 265px;
    max-width: 265px;
    height: 140px;
    max-height: 140px;
    background-color: #ddd;
    margin: 20px 15px;
    border-radius: 7px;
    flex-wrap: wrap;
}
.title-overview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px;
}
.title-overview p{
    margin-top: 5px;
    font-weight: bold;
}

.numberDado{
    font-size: 30px;
}
.corpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 89%;
}
@media (max-width:1330px){
    .view-card{
        width: 100%;
        max-width: 40%;
    }
}

@media(max-width:638px){
    .view-card{
        display: block;
        width: 100%;
        max-width: 90%;
        margin: 20px 5%;
        padding:10px 40px;
    }
    header{
        padding-bottom: 15px;
        border-bottom: 2px solid rgba(170, 170, 170, 0.867);
    }
    .headeTitle2{
        margin-left: 50px;
    }
}