.container{
    margin: 20px 10%;
    display: flex;
    flex-direction: row;
}
.headeTitle2{
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    color: rgb(104, 104, 104);
    margin: 20px 150px;
}

.view-card{
    width: 265px;
    max-width: 265px;
    height: 140px;
    max-height: 140px;
    background-color: #ddd;
    margin: 20px 15px;
    border-radius: 7px;
    flex-wrap: wrap;
}
.title-overview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 18px;
}
.title-overview p{
    margin-top: 5px;
    font-weight: bold;
}

.numberDado{
    font-size: 30px;
}
.corpo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap;
}

@media ( max-width:1107px ){
    .view-card{
        width: 40%;
        max-width: 40%;
    }
}